@font-face {
  font-family: 'DIN';
  src: url('../assets/fonts/D-DIN.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DIN-condensed-bold';
  src: url('../assets/fonts/D-DINCondensed-Bold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-bold';
  src: url('../assets/fonts/D-DIN-Bold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sauce';
  src: url('../assets/fonts/open-sauce-regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sauce-italic';
  src: url('../assets/fonts/open-sauce-regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}