.contact{
    text-align: center;
    // height: 100svh;
    padding: 1rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    gap: clamp(5rem, 1.571rem + 5.357vw, 8rem);
    // justify-content: space-between;

    .contact__marquee{
        display: flex;
        flex-direction: column;
    }

    footer{
        // margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    .contact__email{
        font-size: 200%;
    }
}