@use "../utils/variables" as v;

.projects {
    display: flex;
    flex-direction: column;


    article {
        // height: 10em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4.5em;

        h2 {
            margin: 0;

            &:hover {
                color: v.$clr-main;
                transition: all ease .1s;
            }
        }

    }

    header {
        padding: 0 3rem;
        font-weight: bold;

        margin-left: 2.5rem;

        span {
            font-size: 1.5em;
            font-family: "DIN-condensed-bold";
        }

        .even {
            text-align: right;
            margin-right: 2.5rem;
        }
    }

}