// Variables individuales para mixins (valores simples)
$breakpoint-xs: 360px;
$breakpoint-s: 600px;
$breakpoint-md: 768px;
$breakpoint-xmd: 1024px;
$breakpoint-lg: 1366px;
$breakpoint-xlg: 1920px;

$clr-white: #ececec;
$clr-gray: #7e7b7b;
// $clr-main: #1748a5;
$clr-main: #c7912c;
$clr-hover: #c7912c